/*h1 {
    color: red !important;
}

.navbar-inverse {
    background-image: linear-gradient(#ec0040, #c50333 60%, #c10036);
}

body {
    background-color: #c10036;
}
*/
.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background:darkred;
    padding: 20px 20px;