<div class="row img-rounded">
        <hr><small>
    <div class="col-md-4" style="text-align:center; color:grey">
        ASK BAPCO PROJECT
    </div>
    <div class="col-md-4" style="text-align:center">

        <a href="/docrequestsview/list/"><img border="0" src="/static/img/logo_technipfmc_w.png" alt="W3Schools" class="center" width="70%" height="70%"></a></h3>
       
    </div>
    <div class="col-md-4" style="text-align:center; color:grey">
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp hosted by <strong>QuasarPM.com</strong></p>
    </div>
    </div>