{% extends 'appbuilder/baselayout.html' %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/mycss.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='css/dropzone.css')}}"></link>

    {% endblock %}

{% block head_js %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="{{url_for('static',filename='js/moment.js')}}"></script>
    <script src="{{url_for('static',filename='js/dropzone.js')}}"></script>
 

    {% endblock %}

