{% extends 'appbuilder/baselayout.html' %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/mycss.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='css/dropzone.css')}}"></link>

    {% endblock %}

{% block head_js %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="{{url_for('static',filename='js/moment.js')}}"></script>
    <script src="{{url_for('static',filename='js/dropzone.js')}}"></script>
 

    {% endblock %}

{% block body %}
{{ super() }}
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}
     
{% block messages %}
     {{ super() }}
     <div id="legend">
        <p>
            <!--
            <a href="/docrequestsview/list/"><i id="eng_ico" class="fas fa-copy element"></i>&nbsp ENGINEERING</a>
            <a href="/vendorrequestsview/list/"><i id="ven_ico" class="fas fa-copy element"></i>&nbsp VENDOR&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
            -->
            <i id="pending" class="fas fa-lock-open"><span id="s_label">Pending</span></i>
            <i id="reserved" class="fas fa-lock"><span id="s_label">Reserved</span></i>
            <i id="destroyed" class="fas fa-backspace"><span id="s_label">Destroyed</span></i>
        </p>
    </div>
{% endblock %}

    
    
    {% block content %}
    

    <div>
        <h3>content here</h3>
    </div>
    
      {% endblock %}
    
   

